html, body {
    margin: 0;
	padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Didact Gothic', sans-serif;
}
body {
    background: #FFF;
}
.wrapper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Centering CSS */
.main-container {
    width: 100%;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 0;
}
.centering {
    max-width: 600px;
    margin: 0 auto;
}

/* HEADER */
.header {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background: rgba(23,25,27,0.6);
}
.logo {
    float: left;
    width: 200px;
    height: 100%;
}
#main-menu {
    list-style: none;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
#main-menu li {
    float: left;
    margin: 0 5px;
    padding: 15px;
    color: #FFF;
}
/* Responsive CSS for #main-menu */
@media (min-width: 200px) {
    #main-menu {
        display: none;
    }
}
@media (min-width: 768px) {
    #main-menu {
        display: block;
    }
}
label > img {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}
input {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 15px;
}
/* Responsive CSS for label, input */
@media (min-width: 200px) {
    label,
    input {
        display: block;
    }
}
@media (min-width: 768px) {
    label,
    input {
        display: none;
    }
}
#menu-toggle {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
}
#menu-toggle li {
    padding: 10px;
    background: rgba(12,14,16,0.6);
    color: #FFF;
    display: block;
    width: 100px;
    text-align: center;
    border-bottom: 1px solid #000;
}
input:checked ~ #menu-toggle {
    display: block; /* For Mobile Toggling */
}

/* Home */
#home .centering {
    padding: 20px;
}
.section {
    width: 100%;
    height: 100vh;
    display: table;
    margin: 0;
    padding: 0;
}
#home {
    background: url('../images/81H.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#home .centering h3 {
    color: #FFF;
    border: 3px solid #FFF;
    padding: 20px;
}
/* About */
.card-contain {
    width: 100%;
    max-height: 600px;
    margin: 0;
    padding: 0;
    display: block;
}
.card {
    margin: 0;
    padding: 0;
    height: 300px;
}
/* Responsive CSS for .card */
@media (min-width: 768px) {
    .card {
        width: 100%;
        display: block;
    }
}
@media (min-width: 992px) {
    .card {
        width: 50%;
        float: left;
    }
}
#card-01 {
    background-color: #7991DB;
}
#card-02 {
    background-color: #89DB79;
}

/* Portfolio */
.title {
    width: 100%;
    height: 150px;
    display: table;
    margin: 0;
    padding: 0;
}
#portfolio .centering h2 {
    color: #000;
}
.stack {
    width: 100%;
    max-height: 600px;
    margin: 0;
    padding: 0;
}
.row {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.column {
    height: 200px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
    background-color: #ABABAB;
}
@media (min-width: 100px) {
    .column {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .column {
        width: 50%;
        display: block;
    }
}
@media (min-width: 992px) {
    .column {
        width: calc(100%/3);
        float: left;
    }
}
.footer {
    width: 100%;
    height: 50vh;
    display: table;
    margin: 0;
    padding: 0;
}