html, body {
    margin: 0;
	padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    color: #FFF;
}
body {
    background: #000;
}
/*
.navbar {
    position: relative;
    width: 100%;
    padding: 0;
    height: 50px;
    background-color: #000;
    z-index: 90;
    margin: 0;
}
.nav {
    z-index: 90;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #FFF;
}
@media (min-width: 768px) {
    .nav {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .nav {
        width: 600px;
    }
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    padding: 0 5px;
}
.navbar ul li a {
    color: #FFF;
    text-decoration:  none;
}
*/
section {
    height: 100vh;
    text-align: center;
}
section p {
    position: relative;
    top: 50%;
}
.content-frame {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .content-frame {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .content-frame {
        width: 940px;
    }
}
.column {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
@media (min-width: 768px) {
    .column {
        width: auto;
        display: block;
    }
}
@media (min-width: 992px) {
    .column {
        width: 50%;
        display: table-cell;
    }
}
.centering {
    padding: 20px 0;
    display: block;
    text-align: center;
    color: #FFF;
    margin-bottom: 30px;
}
.padding {
    padding-top: 50px;
}
#home {
    background-image: url("../images/camera2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home h4 {
    
}
#portfolio {
    height: auto;
}
.sample {
    overflow: hidden;
    background: #FFF;
}
.sample img {
    width: 100%;
    height: auto;
    max-height: 200px;
}
@media (min-width: 768px) {
    .sample {
        width: 100vh;
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 10px;
        height: auto;
    }
}
@media (min-width: 992px) {
    .sample {
        width: 430px;
        height: 200px;
    }
}