html, body {
    margin: 0;
	padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}
.navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    height: 50px;
    background-color: #FFF;
    z-index: 99;
    margin-left: auto;
    margin-right: auto;
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    padding: 0 5px;
}
section {
    height: 100vh;
}
.content-frame {
    width: 960px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#about {
    background-image: url("../images/camera2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#about p {
    color: #FFF;
}